---
---
@import 'vars';

#content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  
  #holder {
    margin: 25px 0;
  }

  h1 {
    font-size: 85px;
    margin: 0 0 16px;

    @media (max-width: $xsWidth) {
      font-size: 65px;
    }
  }

  h2 {
    line-height: 1.2;
    margin: 0 0 10px;
  }

  p {
    font-size: 15px;
    line-height: 2;
    margin: 0 auto 30px;
  }

  img {
    width: 100%;
    max-width: 660px;
  }

  [class*='col-'] {
    @media (max-width: $mdWidth) {
      text-align: center;
    }

    &.text-right {
      text-align: right;
      
      img {
        position: relative;
        @media (max-width: $lgWidth) {
          margin-right: #{$pagePadding * -2};
        }

        @media (max-width: $mdWidth) {
          margin-right: #{$pagePadding * -1};
        }

        @media (max-width: $smWidth) {
          margin-right: #{$pagePaddingSmall * -1};
        }
      }
    }
  }
}