---
---
@import 'vars';

#content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  
  #holder {
    margin: 120px 0 60px;

    @media (max-width: $smWidth) {
      margin: 45px 0 25px;
    }
  }

  h1 {
    margin: 0 0 50px;

    @media (max-width: $xsWidth) {
      font-size: 30px;
    }
  }

  h2 {
    margin: 0 0 20px;

    @media (max-width: $xsWidth) {
      font-size: 22px;
      line-height: normal;
    }
  }

  h3 {
    font-family: $fontHeader;
    font-weight: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: $white;
    margin: 0 0 20px;
  }

  p {
    @media (max-width: $xsWidth) {
      font-size: 16px;
    }
  }

  img {
    width: 100%;
    max-width: 660px;
  }

  .hero {
    margin-bottom: 140px;

    @media (max-width: $smWidth) {
      margin-bottom: 50px;
    }

    h1 {
        margin: 0 0 20px;
    }
  }

  [class*='col-'] {
    @media (max-width: $mdWidth) {
      text-align: center;
    }
  }

  .github-pills {
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    @media (max-width: $mdWidth) {
      -ms-flex-pack: center;
      justify-content: center;
    }

    .pill {
      display: -ms-flexbox;
      display: flex;
      margin-right: 15px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: solid 1px $githubPillBorder;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        padding: 4px 15px 5px;
        font-family: $fontHeader;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        color: $purple;
        background-color: $githubPillBackground;
        border-radius: 5px 0 0 5px;
        transition: all $timingFast ease-in-out;

        &:visited {
          color: $purple;
        }

        &:hover,
        &:focus,
        &:active {
          color: $purpleLight;
        }

        &.count {
          padding: 4px 10px 5px;
          background-color: $white;
          border-left: solid 1px $githubPillBorder;
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  .storage {
    margin: 120px 0 140px;

    @media (max-width: $smWidth) {
      margin: 40px 0 70px;
    }
  }

  .providers {
    margin-top: 50px;
  
    span {
      font-family: $fontHeader;
      font-size: 18px;
      font-weight: 500;
      color: $textLight;
      position: relative;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 15px;
      margin-bottom: 15px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 12px;
        width: 12px;
        background-color: $blue;
        border-radius: 50%;
      }
    }
  }

  .terminal-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: $purple;

    .terminal-body {
      padding: 20px;
      border-radius: 10px;
      background-color: $purpleDark;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 15px;
    }

    .terminal {
      asciinema-player {
        .control-bar,
        .loading,
        .start-prompt {
          display: none;
        }
      }

      .asciinema-player-wrapper {
        text-align: left;
      }

      .asciinema-terminal {
        background-color: $purpleDark !important;
        border-color: $purpleDark !important;
        font-family: monospace !important;
        font-size: 13px !important;
        font-weight: 300 !important;
        color: $white !important;
      }
    }

    .terminal-buttons {
      margin-bottom: -15px;

      button {
        border-radius: 5px;
        background-color: $purpleLight;
        color: $white;
        border: none;
        box-shadow: none;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 32px;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: $fontHeader;
        font-size: 13px;
        font-weight: 500;
        transition: all $timingFast ease-in-out;

        &:focus,
        &:active,
        &:visited {
          outline: 0;
          background-color: $purpleLight;
        }

        &:hover {
          background-color: $purpleDark;
        }

        &.active {
          background-color: $blue;
        }
      }
    }
  }

  .affiliates {
    margin: 60px 0 140px;

    @media (max-width: $smWidth) {
      margin: 40px 0 70px;
    }

    [class*='col-'] {
      text-align: center;
    }

    a {
      display: -ms-inline-flexbox;
      display: inline-flex;

      &:hover {
        img {
          opacity: 0.75;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      transition: all $timingFast ease-in-out;
    }

    .prp {
      max-width: 77px;
    }

    .cengn {
      max-width: 120px;
    }

    .crowdfox {
      max-width: 143px;
    }

    .cloudways {
      max-width: 98px;
    }

    .gini {
      max-width: 80px;
    }

    .radiosound {
      max-width: 139px;
    }

    @media (max-width: $smWidth) {
      .prp {
        max-width: 57px;
      }

      .cengn {
        max-width: 100px;
      }

      .crowdfox {
        max-width: 123px;
      }

      .cloudways {
        max-width: 78px;
      }

      .gini {
        max-width: 60px;
      }

      .radiosound {
        max-width: 119px;
      }
    }

    @media (max-width: $xsWidth) {
      .prp {
        max-width: 67px;
      }

      .cengn {
        max-width: 110px;
      }

      .crowdfox {
        max-width: 133px;
      }

      .cloudways {
        max-width: 88px;
      }

      .gini {
        max-width: 70px;
      }

      .radiosound {
        max-width: 129px;
      }
    }
  }

  .features {
    [class*='col-'] {
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -ms-flex-align: center;
      align-items: center;
    }

    img {
      width: auto;
      height: auto;
    }

    .automate {
      max-width: 92px;
    }
    
    .scale {
      max-width: 92px;
    }
    
    .distribute {
      max-width: 86px;
    }
    
    .provision {
      max-width: 102px;
    }
    
    .manage {
      max-width: 169px;
    }
    
    .elasticstorage {
      max-width: 93px;
    }
    
    .opensource {
      max-width: 139px;
    }
    
    .optimize {
      max-width: 131px;
    }

    @media (max-width: $smWidth) {
        .automate {
          max-width: 72px;
        }
        
        .scale {
          max-width: 72px;
        }
        
        .distribute {
          max-width: 66px;
        }
        
        .provision {
          max-width: 82px;
        }
        
        .manage {
          max-width: 149px;
        }
        
        .elasticstorage {
          max-width: 73px;
        }
        
        .opensource {
          max-width: 119px;
        }
        
        .optimize {
          max-width: 111px;
        }
      }

      @media (max-width: $xsWidth) {
        .automate {
          max-width: 82px;
        }
        
        .scale {
          max-width: 82px;
        }
        
        .distribute {
          max-width: 76px;
        }
        
        .provision {
          max-width: 92px;
        }
        
        .manage {
          max-width: 159px;
        }
        
        .elasticstorage {
          max-width: 83px;
        }
        
        .opensource {
          max-width: 129px;
        }
        
        .optimize {
          max-width: 121px;
        }
      }

    span {
      margin-top: 20px;
      font-family: $fontHeader;
      font-size: 13px;
      font-weight: 500;
      color: $textDark;
      min-height: 80px;

      @media (max-width: $smWidth) {
        font-size: 12px;
      }

      @media (max-width: $xsWidth) {
        font-size: 11px;
      }
    }
  }
}