<footer id="footer" aria-label="Footer">
  <div class="top">
    <a href="{{ cncfLink }}">
      <img
        class="cncf"
        src="{{ "/images/cncf.png" | relative_url }}"
        srcset="{{ "/images/cncf@2x.png" | relative_url }} 2x, {{ "/images/cncf@3x.png" | relative_url }} 3x" />
    </a>
    <p>We are a Cloud Native Computing Foundation graduated project.</p>
  </div>
  <div class="middle">
    <div class="grid-center">
      <div class="col_sm-12">
        <span>Getting Started</span>
        <a href="{{ githubLink }}">GitHub</a>
        <a href="{{ latestDocs }}">Documentation</a>
        <a href="{{ contributeLink }}">How to Contribute</a>
      </div>
      <div class="col_sm-12">
        <span>Community</span>
        <a href="{{ slackLink }}">Slack</a>
        <a href="{{ twitterLink }}">Twitter</a>
        <a href="{{ forumLink }}">Forum</a>
        <a href="{{ blogLink }}">Blog</a>
      </div>
      <div class="col_sm-12">
        <span>Contact</span>
        <a href="{{ discussionLink }}">Discussion</a>
        <a href="{{ featureRequestLink }}">Feature request</a>
      </div>
      <div class="col_sm-12">
        <span>Top Contributors</span>
        <a href="{{ cloudicalLink }}">Cloudical</a>
        <a href="{{ cybozuLink }}">Cybozu, Inc</a>
        <a href="{{ koorLink }}">Koor Technologies, Inc.</a>
        <a href="{{ redHatLink }}">Red Hat</a>
        <a href="{{ upboundLink }}">Upbound</a>
      </div>
      <div class="col_sm-12">
        <span>Support Providers</span>
        <a href="{{ koorLink }}">Koor Technologies, Inc.</a>
        <a href="{{ redHatLink }}">Red Hat</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="grid-center">
      <div class="col-8">
        <a class="logo" href="{{ "/" | relative_url }}">
          <img src="{{ "/images/rook-logo-small.svg" | relative_url }}" alt="rook.io" />
        </a>
        <p>
          &#169; Rook Authors {{ site.time | date: '%Y' }}. Documentation distributed under
          <a href="https://creativecommons.org/licenses/by/4.0">CC-BY-4.0</a>.
        </p>
        <p>
          &#169; {{ site.time | date: '%Y' }} The Linux Foundation. All rights reserved. The Linux Foundation has
          registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our
          <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a> page.
        </p>
      </div>
    </div>
  </div>
</footer>

{% if page.layout == 'docs' %}
  <script src="{{ "/js/anchor.js" | relative_url }}"></script>
  <script>
    anchors.options = {
      placement: 'right',
      icon: '#',
    }

    document.addEventListener('DOMContentLoaded', function(event) {
      anchors.add('.docs-text h1, .docs-text h2, .docs-text h3, .docs-text h4, .docs-text h5, .docs-text h6');
    });
  </script>
{% endif %}

{% if page.asciinema %}
  <script async defer src="//buttons.github.io/buttons.js"></script>
  <script src="{{ "/js/asciinema-player.js?v2.6.1" | relative_url }}"></script>
{% endif %}
