<header class="site-header" role="banner">

  <div class="row">

    <a href="/"><img class="logo" src="/images/logo_rook.svg" alt="rook.io"></a>

    <div class="flex"></div>

    <a class="icon" href="https://blog.rook.io/">
      <img src="/images/logo_blog.svg" alt="blog" />
    </a>

    <a class="icon" href="https://gitter.im/rook/rook">
      <img src="/images/logo_gitter.svg" alt="gitter" />
    </a>

    <a class="icon" href="https://twitter.com/rook_io">
      <img src="/images/logo_twitter.svg" alt="twitter" />
    </a>

    <a class="icon" href="https://github.com/rook/rook">
      <img src="/images/logo_github.svg" alt="github" />
    </a>

  </div>

</header>
