<header class="site-header" role="banner">

  <div class="row site-width">

    <a href="/"><img class="logo" src="/images/logo_rook.svg" alt="rook.io"></a>

    <div class="flex"></div>

    <a class="icon" href="https://github.com/rook/rook">
      <img src="/images/logo_github.svg" alt="github" />
    </a>

    <a class="icon" href="https://twitter.com/rook_io">
      <img src="/images/logo_twitter.svg" alt="twitter" />
    </a>

    <a class="icon" href="https://rook-slackin.herokuapp.com/">
      <img src="/images/logo_slack.svg" alt="slack" />
    </a>

    <a class="icon" href="https://blog.rook.io/">
      <img src="/images/logo_blog.svg" alt="blog" />
    </a>


  </div>

</header>
