---
# Only the main Sass file needs front matter (the dashes are enough)
---

@function hexToRGBString($hexColor) {
  @return "#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}";
}

$brand-grey: #546a79;
$brand-blue: #4aa0d8;
$brand-blue-dark: #546a79;
$brand-green: #91C660;
$brand-orange: #EEAF49;
$brand-red: #EE7C6B;
$break: 768px;

$color-primary: hexToRGBString($brand-blue);
$color-primary-dark: hexToRGBString($brand-blue-dark);
$color-accent: hexToRGBString($brand-green);

$preferred_font: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$text-link-color: $brand-blue;

@import "minima";
@import "mdl";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $brand-grey;

  p {
    font-weight: 100;
  }
}

header.site-header {

  display: flex;
  border: none;
  background: $brand-blue;
  height: 56px;

  > .row {
    align-items: center;
    flex: 1;
  }

  h1 {
    margin: 0;
  }

  img.logo {
    height: 30px;
    margin-left: 24px;
  }

  .icon {
    width: 24px;
    margin: 0 16px;
  }

  .icon:last-child {
    margin-right: 24px;
  }

}

footer.site-footer {

  display: flex;
  flex: 1;
  background: $brand-blue-dark;
  height: 120px;
  max-height: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img.logo {
    height: 20px;
  }

}

.docs-menu {

  min-width: 160px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;

  .docs-menu-filler {
    flex: 1;
  }

  #version-select {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }

  > ul {
    list-style: none;
    margin: 0;

    li {
      line-height: 26px;
    }

    li.indent {
      margin-left: 16px;
      font-size: 13px;

    }

    li a.active {
      text-decoration: underline;
      color: $brand-grey;
    }
  }

}



@media screen and (max-width: $break) {

  #docs {
    flex-direction: column;
    flex-grow: 1;

    .docs-menu {
      margin: 24px;

      #version-select {
        margin-top: 24px;
        width: 100% !important;
      }
    }

    .docs-content {

      margin: 24px;

      .docs-actions {
        display: none;
      }
    }
  }

}


// desktop screens use flex
@media screen and (min-width: $break) {

  .page-content {
    display: flex;
    padding: 0;
    margin-bottom: 100px;
    flex: 1;
  }

  .site-width {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 0;
  }

  #docs {
    display: flex;
    flex: 1;

    .docs-menu {

      .docs-menu-project {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding-top: 24px;
      }
    }


  }

  .docs-content {
    margin: 24px 24px 0 60px;
    min-width: 0;
    flex: 1;
  }

}

.docs-content {

  .docs-actions {
    float: right;
    margin: 6px 0 16px 24px;
  }

  h1:nth-child(2) {
    margin-top: 0;
  }

}

.row, .column {
  display: flex;
}

.row {
  flex-direction: row;

  > .flex {
    min-width: 0;
  }
}

.flex {
  -webkit-flex: 1;
  flex: 1;
  flex-direction: inherit;
}

// minima syntax highlighting overrides

.highlighter-rouge .highlight {
  background: #f3f3f4  ;
  border-color: #e5e8ea;
}

pre, code {
  background-color: #f3f3f4;
}

// mdl overrides

a {
  font-weight: 100;
  &:visited {
    color: $brand-blue;
  }
}

.getmdl-select:hover {
  cursor: pointer;
  > input:hover {
    cursor: inherit;
  }
}

.mdl-button {
  text-transform: none;
  font-weight: 100;
}

h1 {
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-size: 30px;
  font-weight: 100;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 18px;
  margin-bottom: 14px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 12px;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}
