---
# Only the main Sass file needs front matter (the dashes are enough)
---

@function hexToRGBString($hexColor) {
  @return "#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}";
}

$brand-blue: #4aa0d8;
$brand-blue-dark: #546a79;
$brand-green: #91C660;
$brand-orange: #EEAF49;
$brand-red: #EE7C6B;
$break: 768px;

$color-primary: hexToRGBString($brand-blue);
$color-primary-dark: hexToRGBString($brand-blue-dark);
$color-accent: hexToRGBString($brand-green);

$preferred_font: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$text-link-color: $brand-blue;

@import "minima";
@import "mdl";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header.site-header {

  display: flex;
  border: none;
  background: $brand-blue;
  height: 56px;

  > .row {
    align-items: center;
    flex: 1;
  }

  h1 {
    margin: 0;
  }

  img.logo {
    height: 30px;
    margin-left: 24px;
  }

  .icon {
    width: 24px;
    margin: 0 8px;
  }

  .icon:last-child {
    margin-right: 24px;
  }

}

main.page-content {
  flex: 1;
}

footer.site-footer {

  display: flex;
  flex: 1;
  background: $brand-blue-dark;
  margin-top: 100px;
  height: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img.logo {
    height: 20px;
  }

}

.page-content {
  padding: 0;
  margin-top: 24px;
}

.docs-menu {

  min-width: 230px;
  margin: 10px 0 0 24px;

  ul {
    list-style: none;
    margin: 0;

    li.indent {
      margin-left: 16px;
    }

    li a.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }

}

#docs {

  @media screen and (max-width: $break) {
    flex-direction: column;

    .docs-menu {
      margin-bottom: 42px;
    }

  }

}

.docs-content {
  margin: 0 24px;

  .docs-actions {
    float: right;
    margin: 24px 0 16px 24px;
  }

  h1:nth-child(2) {
    margin-top: 0;
  }

}

.row, .column {
  display: flex;
}

.row {
  flex-direction: row;

  > .flex {
    min-width: 0;
  }
}

.flex {
  -webkit-flex: 1;
  flex: 1;
  flex-direction: inherit;
}
